# Ignore Python bytecode files
__pycache__
*.pyc

# Ignore Django-related files and directories
*.sqlite3
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
venv
# Ignore Docker-related files and directories
.dockerignore
.docker
.dockerignore
Dockerfile*
docker-compose.yml
docker-compose.override.yml
